body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.table{
  width: 80%;
  margin: auto;
}
.main{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
.Polaris-Layout__Section p{
 font-weight: 500;
}
.userManager{
  color: #006E52;
  margin-bottom: 10px;
  border-radius: 8px;
  height: 100px;
  display: flex;
  padding-top: 20px;
  justify-content: center;
  background-color: white;
}
.Polaris-DisplayText{
  color: #006E52;
}
.Polaris-Tabs__Wrapper{
  margin: auto;
    width: 77%;
}
.Polaris-Tabs__Wrapper ul {
  margin-left: 35%;
}
.Polaris-Tabs__Wrapper ul li{
  color: #006E52;
}
.Polaris-Tabs__Tab span{
  font-weight: bold;
  color: #006E52;
  font-size: 20px;
}
.menu{
  align-items: center;
}
.form{
  width: 50%;
  margin: auto;
  height: auto;
  margin-bottom: 50px;
}
.Polaris-Card__Section .form{
  margin-top: -20px;
}
.Polaris-Connected input{
  height: 50px;
}


.form .Polaris-Card__Section{
      height: auto;
}
a{
  text-decoration: solid;
  list-style: none;
  color: #006E52;
  font-weight: normal;
}
@media only screen and (max-width: 450px) {
  .Polaris-Layout{
    width: 270px;
  }
  .Polaris-Card__Section{
    margin-left: 0px;
  }

}
@media only screen and (max-width: 740px) {
   .main, .list {
    width: 100%;
  }
  .Polaris-Layout{
    align-items: center;
  }
  .Polaris-Tabs__Wrapper{
    display: inline;
    margin-left: -100px;
  }
  .Polaris-Tabs__Wrapper ul li{
      margin-left: -25px;
  }
}
@media only screen and (max-width: 1200px) {
  .form{
    width: 60%;
  }
  .Polaris-Tabs__Wrapper ul{
    margin-left: 30%;
  }
}

